{% extends "base.html" %}
{% block page_content %}
    
    {% for message in form.key.errors %}
        {{ message }}
    {% endfor %}
    {% for message in form.transactionId.errors %}
        {{ message }}
    {% endfor %}
    {{ form.csrf_token }}
    <form action="{{url_for('get_document')}}" class="form-horizontal" method="POST">    
        {{ form.hidden_tag() }}
        <div class="heading">
            <h4 class="form-heading">Get the Document from CAPIO!</h4>
        </div>
        <div class="form-group {% if form.key.errors %} has-error {% endif %}">
            {{ form.key(placeholder="Kindly enter your API Key", class="form-control") }} 
        </div>
        <div class="form-group {% if form.transactionId.errors %} has-error {% endif %}">
            {{ form.transactionId(placeholder="Kindly enter your Transaction ID", class="form-control") }} 
        </div>
        <button class="btn btn-primary btn-block" type="submit">Get Document</button>
    </form>
{% endblock %}